@model ProfilingMapping.Models.LogiInModel
@{
    ViewBag.Title = "ProfileSettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card" style="">
    <div class="card-header">Account Settings</div>
    <div class="card-body">

        @using (Html.BeginForm("SaveAccountChanges", "Settings", FormMethod.Post, new { @name = "AccountSettings" }))
        {
            <fieldset>
                @Html.TextBoxFor(model => model.CurrenUserProfile.ADMINID, new { @class = "hidden", @id = "ADMINID" })
                <div class="form-group row margin_bottom_10">
                    <label for="Name" class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-sm-10">
                        @* class should be form-control-plaintext when viewing *@
                        @Html.TextBoxFor(model => model.CurrenUserProfile.FIRSTNAME, new { @class = "form-control", @id = "FIRSTNAME" })
                    </div>
                </div>
                <div class="form-group row margin_bottom_10">
                    <label for="Name" class="col-sm-2 col-form-label">Middle Name</label>
                    <div class="col-sm-10">
                        @* class should be form-control-plaintext when viewing *@
                        @Html.TextBoxFor(model => model.CurrenUserProfile.MIDDLENAME, new { @class = "form-control", @id = "MIDDLENAME" })
                    </div>
                </div>
                <div class="form-group row margin_bottom_10">
                    <label for="Name" class="col-sm-2 col-form-label">Last Name</label>
                    <div class="col-sm-10">
                        @* class should be form-control-plaintext when viewing *@
                        @Html.TextBoxFor(model => model.CurrenUserProfile.LASTNAME, new { @class = "form-control", @id = "LASTNAME" })
                    </div>
                </div>
                <div class="form-group row margin_bottom_10">
                    <label for="Name" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        @* class should be form-control-plaintext when viewing *@
                        @Html.TextBoxFor(model => model.CurrenUserProfile.USERNAME, new { @class = "form-control", @id = "USERNAME" })
                    </div>
                </div>
                <div class="form-group row margin_bottom_10">
                    <label for="Name" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        @* class should be form-control-plaintext when viewing *@
                        @Html.TextBoxFor(model => model.CurrenUserProfile.PASSWORD, new { @class = "form-control", @id = "PASSWORD", @type = "password" })
                    </div>
                </div>
                <button type="submit" class="btn btn-success" href=""><i class="icon-save"></i>  Save</button>
                <a class="btn btn-primary" href="@Request.UrlReferrer"><i class="icon-chevron-left"></i>  Back</a>
                @*<a class="btn btn-primary" href="@Url.Action("ListScreen","Permission")"><i class="icon-chevron-left"></i>  Back</a>*@
            </fieldset>
        }
    </div>
</div>