@model ProfilingMapping.Models.LogiInModel
@{
    ViewBag.Title = "ListScreen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Model.cntMinor = 0;
    Model.cntYoungAdults = 0;
    Model.cntMiddleAge = 0;
    Model.cntSenior = 0;
    Model.cntMale = 0;
    Model.cntFemale = 0;
}
@foreach (ProfilingMapping.Models.TBL_NAMES names in Model.ListOfNames)
{
    if (((Model.Minor == true && names.AGE < 18) || (Model.YoungAdults == true && names.AGE >= 18 && names.AGE <= 39) || (Model.MiddleAge == true && names.AGE >= 40 && names.AGE <= 59) || (Model.Senior == true && names.AGE >= 61)) && (Model.GenderFilter == names.GENDER || Model.GenderFilter == "MALE & FEMALE"))
    {
        if (Model.Minor == true && names.AGE < 18)
        {
            Model.cntMinor++;
        }
        if (Model.YoungAdults == true && names.AGE >= 18 && names.AGE <= 39)
        {
            Model.cntYoungAdults++;
        }
        if (Model.MiddleAge == true && names.AGE >= 40 && names.AGE <= 59)
        {
            Model.cntMiddleAge++;
        }
        if (Model.Senior == true && names.AGE >= 61)
        {
            Model.cntSenior++;
        }
        if (names.GENDER == "MALE")
        {
            Model.cntMale++;
        }
        if (names.GENDER == "FEMALE")
        {
            Model.cntFemale++;
        }
    }
}
<legend>Profiles</legend>
<br />
@{
    var Barangay = new List<SelectListItem>();
    foreach (var barangay in Model.BarangayList)
    {
        Barangay.Add(new SelectListItem { Text = barangay.NAME, Value = barangay.BARANGAYID.ToString() });
    }
}

<div class="" style="display: inline-block; width: 100%; height:50px; position:relative">
    @if(Model.Role == "ADMIN USER"){
        using (Html.BeginForm("BarangayFilter", "Names", FormMethod.Post, new { @name = "MappingForm", @style = "width:200px;marin:0; position: absolute;right: 130px;" }))
        {
            @Html.DropDownListFor(model => model.FilterBarangay, Barangay, "Select Barangay", new { @class = "form-select", @id = "FilterBarangay", @onchange = "this.form.submit();" })
        }
    }
</div>

<div class="row">
    <div class="col-6">

        <div class="card" style="">
            <div class="card-header">Filter</div>
            <div class="card-body">
                @using (Html.BeginForm("NamesFilter", "Names", FormMethod.Post, new { @name = "NamesFilterForm" }))
                {
                    <fieldset>
                        <div class="form-group row margin_bottom_10">
                            <label for="Name" class="col-sm-4 col-form-label">Minor</label>
                            <div class="col-sm-8">
                                @* class should be form-control-plaintext when viewing *@
                                @*@Html.TextBoxFor(model => model.SelectedNames.FIRSTNAME, new { @class = "form-control", @id = "FIRSTNAME" })*@
                                @Html.CheckBoxFor(model => model.Minor, new { @class = "form-check-input", @id = "Minor", @type = "checkbox", @onchange = "this.form.submit();" })
                                below 18
                            </div>
                        </div>
                        <div class="form-group row margin_bottom_10">
                            <label for="Name" class="col-sm-4 col-form-label">Young Adults</label>
                            <div class="col-sm-8">
                                @* class should be form-control-plaintext when viewing *@
                                @*@Html.TextBoxFor(model => model.SelectedNames.FIRSTNAME, new { @class = "form-control", @id = "FIRSTNAME" })*@
                                @Html.CheckBoxFor(model => model.YoungAdults, new { @class = "form-check-input", @id = "YoungAdults", @type = "checkbox", @onchange = "this.form.submit();" })
                                18 - 39
                            </div>
                        </div>
                        <div class="form-group row margin_bottom_10">
                            <label for="Name" class="col-sm-4 col-form-label">Middle Age</label>
                            <div class="col-sm-8">
                                @* class should be form-control-plaintext when viewing *@
                                @*@Html.TextBoxFor(model => model.SelectedNames.FIRSTNAME, new { @class = "form-control", @id = "FIRSTNAME" })*@
                                @Html.CheckBoxFor(model => model.MiddleAge, new { @class = "form-check-input", @id = "MiddleAge", @type = "checkbox", @onchange = "this.form.submit();" })
                                40 - 59
                            </div>
                        </div>
                        <div class="form-group row margin_bottom_10">
                            <label for="Name" class="col-sm-4 col-form-label">Senior</label>
                            <div class="col-sm-8">
                                @* class should be form-control-plaintext when viewing *@
                                @*@Html.TextBoxFor(model => model.SelectedNames.FIRSTNAME, new { @class = "form-control", @id = "FIRSTNAME" })*@
                                @Html.CheckBoxFor(model => model.Senior, new { @class = "form-check-input", @id = "Senior", @type = "checkbox", @onchange = "this.form.submit();" })
                                60 and above
                            </div>
                        </div>
                        <div class="form-group row margin_bottom_10">
                            <label for="Name" class="col-sm-4 col-form-label">Gender</label>
                            <div class="col-sm-8">
                                @{
                                    var GenderList = new List<SelectListItem>();
                                    GenderList.Add(new SelectListItem { Text = "MALE & FEMALE", Value = "MALE & FEMALE" });
                                    GenderList.Add(new SelectListItem { Text = "MALE", Value = "MALE" });
                                    GenderList.Add(new SelectListItem { Text = "FEMALE", Value = "FEMALE" });
                                }
                                @* class should be form-control-plaintext when viewing *@
                                @Html.DropDownListFor(model => model.GenderFilter, GenderList, new { @class = "form-select", @id = "GENDER", @onchange = "this.form.submit();" })
                            </div>
                        </div>
                        <br />
                        <br />
                    </fieldset>
                }
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card" style="">
            <div class="card-header">Count</div>
            <div class="card-body">
                <form>
                    <fieldset>
                        <div class="form-group row margin_bottom_10">
                            <label for="Name" class="col-sm-4 col-form-label">Minor</label>
                            <div class="col-sm-8">
                                @Model.cntMinor
                            </div>
                        </div>
                        <div class="form-group row margin_bottom_10">
                            <label for="Name" class="col-sm-4 col-form-label">Young Adults</label>
                            <div class="col-sm-8">
                                @Model.cntYoungAdults
                            </div>
                        </div>
                        <div class="form-group row margin_bottom_10">
                            <label for="Name" class="col-sm-4 col-form-label">Middle Age</label>
                            <div class="col-sm-8">
                                @Model.cntMiddleAge
                            </div>
                        </div>
                        <div class="form-group row margin_bottom_10">
                            <label for="Name" class="col-sm-4 col-form-label">Senior</label>
                            <div class="col-sm-8">
                                @Model.cntSenior
                            </div>
                        </div>
                        <div class="form-group row margin_bottom_10">
                            <label for="Name" class="col-sm-4 col-form-label">Male</label>
                            <div class="col-sm-8">
                                @Model.cntMale
                            </div>
                        </div>
                        <div class="form-group row margin_bottom_10">
                            <label for="Name" class="col-sm-4 col-form-label">Female</label>
                            <div class="col-sm-8">
                                @Model.cntFemale
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
@using (Html.BeginForm("Delete", "Names", FormMethod.Post, new { @name = "NamesForm" }))
{

    <table id="table_names" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th style="width: 25px;">
                    @*<input type="checkbox" id="AreChecked" />*@
                </th>
                <th>Full Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Physical Address</th>
                <th>Created Date</th>
                <th class="hidden">ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProfilingMapping.Models.TBL_NAMES names in Model.ListOfNames)
            {
                if (((Model.Minor == true && names.AGE < 18) || (Model.YoungAdults == true && names.AGE >= 18 && names.AGE <= 39) || (Model.MiddleAge == true && names.AGE >= 40 && names.AGE <= 59) || (Model.Senior == true && names.AGE >= 61)) && (Model.GenderFilter == names.GENDER || Model.GenderFilter == "MALE & FEMALE"))
                {
                    <tr>
                        <td><input type="checkbox" name="AreChecked" value="@names.NAMEID" /></td>
                        <td><a href="@Url.Action("EditScreen","Names", new { NameID = (names.NAMEID)})">@names.FIRSTNAME @names.LASTNAME</a></td>
                        <td>@names.AGE</td>
                        <td>@names.GENDER</td>
                        <td>@names.STREET @names.SUBDIVISION @names.TBL_BARANGAY.NAME @names.CITY @names.PROVINCE</td>
                        <td>@names.CREATEDDATE</td>
                        <td class="hidden">@names.NAMEID</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <p class="bs-component">
        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="reset()"><i class="icon-plus"></i>  Add</a>
        <button type="submit" class="btn btn-danger"><i class="icon-trash"></i>  Delete</button>
    </p>
}
<br />

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Privacy Policy of Profiling and Mapping </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Privacy Policy of Profiling and Mapping Profiling and Mapping  operates the http://profilingmapping.somee.com/ website, which provides the SERVICE.
                <br />
                This page is used to inform website visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service, the Profiling and Mapping  website.
                <br />
                If you choose to use our Service, then you agree to the collection and use of information in relation with this policy. The Personal Information that we collect are used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.
                <br />
                The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at http://profilingmapping.somee.com/, unless otherwise defined in this Privacy Policy.
                <br />
                <br />
                Information Collection and Use
                <br />
                For a better experience while using our Service, we may require you to provide us with certain personally identifiable information, including but not limited to your name, phone number, and postal address. The information that we collect will be used to contact or identify you.
                <br />
                <br />
                Log Data
                <br />
                We want to inform you that whenever you visit our Service, we collect information that your browser sends to us that is called Log Data. This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser version, pages of our Service that you visit, the time and date of your visit, the time spent on those pages, and other statistics.
                <br />
                <br />
                Cookies
                <br />
                Cookies are files with small amount of data that is commonly used an anonymous unique identifier. These are sent to your browser from the website that you visit and are stored on your computer's hard drive.
                <br />
                Our website uses these "cookies" to collection information and to improve our Service. You have the option to either accept or refuse these cookies, and know when a cookie is being sent to your computer. If you choose to refuse our cookies, you may not be able to use some portions of our Service.
                <br />
                <br />
                Service Providers
                <br />
                We may employ third-party companies and individuals due to the following reasons:
                <br />
                To facilitate our Service;
                To provide the Service on our behalf;
                To perform Service-related services; or
                To assist us in analyzing how our Service is used.
                <br />
                We want to inform our Service users that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.
                <br />
                <br />
                Security
                <br />
                We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.
                <br />
                <br />
                Links to Other Sites
                <br />
                Our Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over, and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.
                <br />
                <br />
                Children's Privacy
                <br />
                Our Services do not address anyone under the age of 13. We do not knowingly collect personal identifiable information from children under 13. In the case we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.
                <br />
                <br />
                Changes to This Privacy Policy
                <br />
                We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.
                <br />
                <br />
                Contact Us
                <br />
                If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.
                <br />
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckIAgree">
                    <label class="form-check-label" for="flexCheckDefault">
                        I agree
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="btnContinue" class="btn btn-primary disabled" href="@Url.Action("EditScreen","Names")"> Continue</a>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#table_names').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": 0 }
            ],
            order: [[1, 'asc']],
            "pagingType": $(".container-fluid").width() <= 480 ? "simple" : "simple_numbers"
        });
    });

    $("#flexCheckIAgree").change(function () {
        if ($("#btnContinue").hasClass("disabled") && $(this).is(":checked")) {
            $("#btnContinue").removeClass("disabled")
        }
        if (!$("#btnContinue").hasClass("disabled") && !$(this).is(":checked")) {
            $("#btnContinue").addClass("disabled")
        }
    })
    function reset() {
        $("#flexCheckIAgree").prop("checked", false);
        if (!$("#btnContinue").hasClass("disabled")) {
            $("#btnContinue").addClass("disabled")
        }
    }
</script>

