@model ProfilingMapping.Models.LogiInModel
@{
    ViewBag.Title = "Request List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Delete", "RequestData", FormMethod.Post, new { @name = "RequestDataForm" }))
{
    <legend>Profiles</legend>

    <table id="table_Request" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th style="width: 25px;">
                    @*<input type="checkbox" id="AreChecked" />*@
                </th>
                <th>Full Name</th>
                <th>Comment</th>
                <th class="hidden">ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProfilingMapping.Models.TBL_REQUEST request in Model.ListOfRequest)
            {
                <tr>
                    <td><input type="checkbox" name="AreChecked" value="@request.REQUESTID" /></td>
                    <td><a href="@Url.Action("EditScreen","RequestData", new { RequestID = (request.REQUESTID)})">@(request.TBL_NAMES.FIRSTNAME + " " + request.TBL_NAMES.LASTNAME)</a></td>
                    <td>@request.COMMENT</td>
                    <td class="hidden">@request.REQUESTID</td>
                </tr>
            }
        </tbody>
    </table>

    <p class="bs-component">
        <a class="btn btn-primary" href="@Url.Action("EditScreen","RequestData")"><i class="icon-plus"></i>  Add</a>
        <button type="submit" class="btn btn-danger"><i class="icon-trash"></i>  Delete</button>
    </p>
}

<script>
    $(document).ready(function () {
        $('#table_Request').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": 0 }
            ],
            order: [[1, 'asc']],
            "pagingType": $(".container-fluid").width() <= 480 ? "simple" : "simple_numbers"
        });
    });
</script>
